*:focus {outline:none}

.h_clss {
    height: 10%;
    display: flex;
    flex-direction: row;
}

.v_clss {
    height: 20%;
    display: flex;
    flex-direction: row;
}

h1{
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
}

p{
    text-align: center;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    word-wrap:break-word;
    font-size: 10px;
    line-height: 0px;
    
}

.room {
    width: 10%;
    background-color: #D0CECE;
}

.spacer {
    width: 5%;
}

.darker {
    background-color: #404040;
}

.lighter {
    background-color: #595959;
}

.chodba{
    background-color: #E7E6E6;

}

#Prízemie{
    position: static;
    background-color: white;
    margin:auto;
    height: 600px;
    width: 75%;
}

#prvePoschodie{
    position: static;
    background-color: white;
    margin:auto;
    height: 600px;
    width: 75%;
}

#druhePoschodie{
    position: static;
    background-color: white;
    margin:auto;
    height: 180px;
    width: 15%;
}

#button_refresh_div{
    display: flex;
    justify-content: center;
    
}

button{
    background-color: #D0CECE;
    color:#fff;
    border:none;
    border-radius: 10px;
    transition:ease-out 0.4s;
}
button:hover{
    box-shadow:inset 30px 0 0 0 #9c9c9c;
}
button:active{
    transition:0.5s all ease;
    box-shadow:inset 30px 0 0 0 #363636;
}
